.gradle/
.kotlin/
.idea/*
!.idea/runConfigurations/
.idea/runConfigurations/*
!.idea/runConfigurations/app.xml
local.properties
app/build/
build/
*.iml
.build/
.signing/
*.apk
!GemeloDigitalBLE-debug.apk
*.idsig
